header {
    height: 120px;
    background-color: #457b9d;
}

nav {
    height: 80px;
}

#section1 {
    height: 300px;
}

#section2 {
    height: 380px;
}

aside {
    height: 300px;
    width: 30%;
    float: right;
}

#myDiv {
    height: 380px;
    width: 69%;
    float: left;
}

div.imgDiv {
    height: 290px;

    display: inline-block;
    width: 32%;
    background-color: yellow;
}


#header1 {
    height: 110px;
    display: inline-block;
    width: 15%;
}
#header2 {
    height: 110px;
    width: 83%;
    float: right;
}
img
{
    height: 380px;
    width: 865px;
    object-fit:cover ;
}
#logo1
{
    height: 120px;
    width: 165px;
    object-fit:cover ;
}
#logo2
{
    height: 120px;
    width: 1100px;
    float:right;
    object-fit:cover ;

}
.image
{
    height: 290px;
    display: inline-block;
    width: 100%;
}

.nav {
    overflow: hidden;
    background-color: white    ;
  }
  
  .nav a {
    float: left;
    color: lightslategray;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 27px;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  span
  {
      text-align: center;
      font-size: 40px;
      padding-left: 50px;
      padding-top: 50px;
  }
  a{
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      padding-left: 90px;
  }
 #search
 {
     padding-top: 30px;
     padding-right: 50px;
     float: right;
 }
