/* my added bits */
html, body {
    margin: 0;
    padding: 0.25em;
    background: #fff;
}

form {
    border: 1px solid #999;
    padding: 0.25em;
    background: #EEE;
    width: 400px;

}

div {
    padding-bottom: 0.25em;
}

/* essential */
label {
    float: left;
    width: 10em;
    text-align: right;
    padding-right: 0.5em;
    border: 1px solid;
}

input,textarea {
    text-align: left;
    width: 10em;
}
section{
    text-align: left;
    width: 25em;
    
}
input.submit {
    margin-left: 6.5em;
    width: auto;
}

/* additionally give the button and the labels
the same font to align the button better */

label, input.submit {
    font: normal 0.8em Verdana, Geneva, Arial, Helvetica, sans-serif;
}
