#primary {
  border-radius: 3px;
  padding: 12px 15px 12px 15px;
  background-color: #8bc34a;
  border: 1px solid #8bc34a;
  min-width: 110px; }
  #primary font {
    font-family: "SegoeUI SemiBold";
    font-size: 16px;
    padding-left: 10;
    color: #ffffff; }
  #primary:hover {
    background-color: #9dce5d;
    color: #FFFFFF;
    border: 1px solid #9dce5d; }
  #primary:disabled {
    background-color: #eeeeee;
    color: #999999;
    border: 1px solid #eeeeee; }

#secondary {
  border-radius: 3px;
  padding: 12px 15px 12px 15px;
  background-color: #FFFFFF;
  border: 1px solid #2095f2;
  min-width: 110px;
  color: #2095f2; }
  #secondary font {
    font-family: "SegoeUI SemiBold";
    font-size: 16px;
    padding-left: 10;
    color: #2095f2; }
  #secondary:hover {
    background-color: #2095f2;
    color: #FFFFFF;
    border: 1px solid #2095f2; }
  #secondary:disabled {
    background-color: #ffffff;
    color: #999999;
    border: 1px solid #cccccc; }
